*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#f3f4f8;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 60px;
  background:white;
  border-bottom:1px solid #eee;
}

.logo{
  font-size:20px;
  font-weight:600;
}
.logo span{ color:#ff7a00; }

.nav-links{
  display:flex;
  gap:25px;
}
.nav-links a{
  text-decoration:none;
  color:#555;
}

.nav-icons{
  display:flex;
  gap:15px;
  align-items:center;
}
.search{
  padding:6px 10px;
  border-radius:20px;
  border:1px solid #ddd;
}
.profile{
  width:32px;
  border-radius:50%;
}

/* HERO */
.hero{
  display:flex;
  align-items:center;
  padding:60px;
  background:white;
}
.hero-left{ flex:1; }
.hero-left h1{ font-size:48px; }
.hero-left span{ color:#ff7a00; }
.hero-left p{ margin:15px 0; color:#777; }

.hero-left button{
  padding:12px 25px;
  border:none;
  border-radius:25px;
  background:black;
  color:white;
  cursor:pointer;
}

.hero-right img{ width:420px; }

/* SERVICES */
.services{
  display:flex;
  justify-content:space-around;
  background:#ff7a00;
  color:white;
  padding:20px;
}

/* PRODUCT */
.product-container{
  display:flex;
  gap:50px;
  padding:40px 60px;
  background:white;
}
.product-left img{ width:400px; }

.product-right{
  display:flex;
  flex-direction:column;
  gap:15px;
}
.price{
  font-size:28px;
  color:#2a7be4;
  font-weight:bold;
}
.offer{ color:green; }

.cart-btn, .pay-btn{
  background:#ff7a00;
  color:white;
  padding:12px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

/* GALLERY */
.gallery{
  display:flex;
  gap:10px;
  padding:20px 60px;
}
.gallery img{ width:100px; }

/* CART */
.cart-container{
  display:flex;
  gap:40px;
  padding:50px;
}
.cart-left,.cart-right{
  background:white;
  padding:25px;
  border-radius:12px;
}
.cart-left{ flex:2; }
.cart-right{ flex:1; }

.summary p, .summary h3{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
}

/* CHECKOUT */
.checkout-container{
  display:flex;
  gap:40px;
  padding:50px;
}
.checkout-left,.checkout-right{
  background:white;
  padding:25px;
  border-radius:12px;
}
.checkout-left{ flex:2; }
.checkout-right{ flex:1; }

input,select{
  width:100%;
  padding:10px;
  margin-top:8px;
  border:1px solid #ddd;
  border-radius:8px;
}

.row{
  display:flex;
  gap:10px;
}

.methods{
  display:flex;
  gap:10px;
  margin:10px 0;
}
.method{
  padding:8px 12px;
  border:1px solid #ddd;
  border-radius:8px;
}
.method.active{
  border:2px solid #ff7a00;
}